#root {
  /* max-width: 1280px;
  margin: 0; */
  /* padding: 2rem; */
  /* text-align: center; */
}

body {
  /* background-color: #00ff00; */
}

.no-images-found {
  margin-top: 20px;
  text-align: center;
  font-size: 3rem;
  color: #333;
}

.no-images-found::before {
  content: "🤷‍♂️";
  font-size: 3rem;
  margin-bottom: 10px;
}

.no-images-found::after {
  content: "🤷‍♂️";
  font-size: 3rem;
  margin-top: 10px;
}